.details-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border-radius: 5px;

  &__title {
    display: flex;
    justify-content: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .details-modal {
    width: 250px;
  }
}