.pokemonListContainer {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 80px 40px;
}

.pokemonListContent {
    display: flex;
    flex: 1;
}

.pokemonListWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pokemonCardsWrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

.pokemonCardsWrap > div {
    justify-content: center;
    display: flex;
    min-width: 250px;
    max-width: 300px;
}

.noPokemon {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 20px;
}

@media (max-width: 767px) {
    .pokemonListContainer {
        flex-direction: column;
    }
}